[submodule "backend"]
	path = backend
	url = https://github.com/thetpaingsoe/feature-request-system-be.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/thetpaingsoe/feature-request-system-fe.git
